version: "3"
services:
  
  mock:
    build: ./mocks/mockbin
    command: mockbin
    ports:
      - "8080:8080"

  prism:
    build: ./mocks/prism
    command: prism mock -h 0.0.0.0 -d /workspace/petstore.openapi.yaml
    ports:
      - "4010:4010"
    volumes:
      - ${PWD}/fixitures/petstore.openapi.yaml:/workspace/petstore.openapi.yaml  

  kong:
    build: .
    environment:
      - KONG_DATABASE=off
      - KONG_DECLARATIVE_CONFIG=/etc/kong/kong.yml
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_ERROR_LOG=/dev/stderr
      - KONG_STATUS_LISTEN=0.0.0.0:8006
      - KONG_PROXY_LISTEN=0.0.0.0:8000
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
      - KONG_ADMIN_UI_LISTEN=0.0.0.0:8002
      - KONG_PLUGINS=bundled,api-catalog-harvester
      - KONG_PLUGINSERVER_API_CATALOG_HARVESTER_QUERY_CMD=/usr/local/bin/api-catalog-harvester -dump
      - KONG_PLUGINSERVER_NAMES=api-catalog-harvester
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8006:8006"
    volumes:
      - ${PWD}/kong.yml:/etc/kong/kong.yml
      - ${PWD}/logs:/logs

  newman:
    build: ./tools/newman
    command: newman run petstore.openapi.postman-collection.json -n 2
    depends_on:
      - kong
      - prism
      - mock
    volumes:
      - ${PWD}/fixitures/collections:/etc/newman
